// 5) PLACEHOLDER (%) - serve a creare dei blocchi di regole CSS che verranno applicate SOLO nel momento di utilizzo del placerholder stesso
// se mai verrà usato il placeholder, queste regole non si progheranno mai nel CSS finale
// i placeholder da soli non hanno una loro presenza fisica nel CSS. devono venire usati.

%reset-btn {
  border: none;
  background-color: transparent;
}

%reset-font {
  font: {
    family: inherit;
    weight: inherit;
    size: inherit;
  }
  color: inherit;
}
