*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: $size-0;
  font-family: $font-sans-serif;
  color: $color-body;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  // proprietà composte
  font: {
    family: $font-serif;
    weight: 800;
  }

  margin-top: $size-0;
}

p {
  margin-top: $size-0;
}
