@import "./partials/resets";
@import "./partials/colors";
@import "./partials/fonts";
@import "./partials/spacings";
@import "./partials/buttons";
@import "./partials/mixins";
@import "./partials/animations";

body {
  font-family: $font-sans
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding-inline: 2rem;
  
  nav {
  ul{
    li {
      display: inline-block;
    }
  }
}

}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  gap: 60px;
  background-color: $purple;
  color: $text;

  .content-area{
    max-width: 800px;
  }

  .img-area{
    img{
      max-width: 400px;
      @include floating(10px, 0 6px 10px rgb(0 0 0 / 40%), 2px solid white);
    }
  }
}

.grid-section {
  @include girid(6);
  justify-content: center;

  img{
    max-width: 100%;
    @include floating(6px, 0 3px 10px rgb(0 0 0 / 20%));
  }
}

