@import "./partials/resets";
@import "./partials/colors";
@import "./partials/fonts";
@import "./partials/spacing";
@import "./partials/buttons";
@import "./partials/mixins";
@import "./partials/animations";

// regole vuote non verranno compilate nella versione finale
// main {
// }
// main section {
//   padding-block: $size-5;
//   color: $color-white;
//   background: {
//     color: $secondary-color;
//   }
// }
// main section ul {
//   padding: $size-0;
// }
// main section ul li {
//   display: inline-block;
// }
// riscriviamo questo codice in forma più ottimizzata
// 2) NESTING CSS - Selettori annidati
header {
  background-color: $accent-color;

  display: flex;
  align-items: center;
  padding-inline: $size-3;
  padding-block: $size-2;

  span {
    margin-right: auto;
  }
  nav {
    ul {
      margin: $size-0;
      li {
        display: inline-block;
      }
    }
  }
}

.main-context {
  padding: $size-3;

  &--section {
    padding-inline: $size-3;
    padding-block: $size-5;
    color: $color-white;

    background-color: $secondary-color;

    // 3) PARENT SELECTOR (&) - riprende il selettore del contesto in cui è inserito. TUTTI I SELETTORI PIU' ESTERNI

    &:nth-of-type(2) {
      background-color: $color-bg-body;
      color: $color-white;
    }

    &:hover {
      background-color: $main-color;
    }
    // NESTED MEDIA QUERIES
    @media screen and (min-width: 768px) {
      padding-block: 4rem;
    }

    @media screen and (min-width: 992px) {
      padding-block: 5rem;
    }

    ul {
      padding: $size-0;
      li {
        display: inline-block;

        &:hover {
          font-size: 1.6rem;
          background-color: $color-bg-body;
        }
      }
    }
    &--button {
      display: inline-block;
      border-radius: 3px;
      padding: 7px 12px;
      border: 1px solid #d5d5d5;
      background-image: linear-gradient(#eee, #ddd);
      font: 700 13px/18px Helvetica, arial;

      &--state-success {
        color: #fff;
        background: #569e3d linear-gradient(#79d858, #569e3d) repeat-x;
        border-color: #4a993e;
      }

      &--state-danger {
        color: #900;
      }
    }
  }
}

footer {
  section {
    ul {
      li {
        &::marker {
          content: "📌";
        }
      }
    }
  }
}

.btn {
  background-color: $color-body;
  color: $color-white;
  padding: $size-1 $size-3;
  font: {
    size: 1.2rem;
    family: inherit;
    weight: 500;
  }

  border: 1px solid $secondary-color;
  border-radius: 6px;
}

// 4) EXTEND (@extend) - con questa keyword saremo in grado di riprendere tutta una definizione precedente di classi / id / elementi

.btn-alt {
  @extend .btn;
  background-color: $accent-color;
  border-color: $main-color;
}

.btn-basic {
  @extend %reset-btn, %reset-font;

  font-weight: 600;
  border: 2px solid $accent-color;
}

input,
textarea,
select {
  @extend %reset-font;
}

.box-1 {
  @include myBox(2px, $main-color, 10px);
}

.box-2 {
  @include myBox(4px, palevioletred, 4px);
}

// in SASS possiamo specificare il singolo parametro andando ad utilizzare il suo nome proprio per valorizzarlo, dandoci quindi la possibilità di "saltare posizioni"
.box-3 {
  @include myBox(4px, $boxColor: palegreen);
}

.box-4 {
  @include dynamicSquare(200px, "color", coral);
}

.box-5 {
  @include dynamicSquare(200px, "image", url(https://images.unsplash.com/photo-1735299362091-33c94b71a758?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D));
}

// 7) CICLI
// come per JS anche qui abbiamo le strutture cicliche. Ce ne sono di due tipi:

// CICLO FOR

// @for $contatore from <start> to <end> ==> dove <start> to <end> implica che TO si riferisce al valore <end> ESCLUSO, es. 0 to 5 ==> equivale a 0 < 5
// @for $contatore from <start> through <end> ==> dove <start> through <end> implica che THROUGH si riferisce al valore <end> INCLUSO, es. 0 through 5 ==> equivale a 0 <= 5

@for $i from 1 through 20 {
  .custom-padding-#{$i} {
    padding: $i * 10px;
  }
}

// CICLO EACH

// @each $variabile in [list] {
// CSS TO CREATE
// }

// LISTE - esiste un valore possibile, la lista, che sono valori separati da virgole a formare una lista di valori omogenei
// (la lista è stata spostata nel partial _variables.scss)

@each $color in $colorKeys {
  .square-#{$color} {
    width: 100px;
    height: 100px;
    background-color: $color;
  }
}

// $colorKeysHEX: #ff0000, #008000, #0000ff, #ffff00, #800080;

// MAPPE - le mappe sono coppie chiave-valore
// le mappe hanno un partial dedicato

@each $key, $color in $colorMap {
  .square-#{$key} {
    width: 100px;
    height: 100px;
    background-color: $color;
  }
}

@each $key, $value in $sizes {
  .padding-#{$key} {
    padding: $value;
    &-inline {
      padding-inline: $value;
    }
    &-block {
      padding-block: $value;
    }
  }
}
