@import "./partials/functions";

.long-shadow {

    h2 {
        text-align: center;
        font: {
            family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            weight: 800;
            size: 600px
        }
        text-shadow: createLongShadow(black, 100);
    }
}

$border-colors: red, green, blue, yellow, purple, coral, crimson, palevioletred, palegreen; 

.multiple-borders {
    margin-block: 10rem;
    & > div {
        width: 200px;
        height: 200px;
        margin-inline: auto;
        background-color: rgb(33, 33, 33);
        box-shadow: ;
    }
}