@mixin floating($radius: 0px, $shadows: 0 0 0 rgb(0 0 0), $border: none) {
    border-radius: $radius;
    box-shadow: $shadows;
    border: $border

};

@mixin grid($columns) {
    display: flex;
  flex-wrap: wrap;
  & > div{
    width: calc(100% / $columns)
  }
}

