//1) variabile CSS
// ci permettono di creare valori che utilizzeremo più volte in punti differenti del nostro codice
// il vantaggio è poter cambiare l'origine del valore in unico punto e vedere l'effetto propagarsi a tutti gli elementi che lo utilizzavano

$size-0: 0;
$size-1: 0.25rem;
$size-2: 0.5rem;
$size-3: 1rem;
$size-4: 1.5rem;
$size-5: 3rem;

$font-sans-serif: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$font-serif:  'Times New Roman', Times, serif;

$main-color: rgb(197, 0, 141);
$secondary-color: rgb(128, 0, 197);
$accent-color: rgb(218, 142, 0);
$color-gray: rgb(100, 86, 108);
$color-white: rgb(232, 218, 240);
$color-body: rgb(26, 0, 39);
$color-bg-body: rgb(59, 0, 89);

//tutte le variabili e funzionalità specifiche di SCSS non si propagheranno al CSS finale
*,
*::before,
*::after{
    box-sizing: border-box;
}

body {
    margin: $size-0;
    font-family: $font-sans-serif;
    color: $color-body;
    line-height: 1.4;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font: {
        family: $font-serif;
        weight: 800;
    }

    margin-top: $size-0;
}

p {
    margin-top: 0;
}

//regole vuote verranno compilate

/* main section {
    padding-block: $size-5;
    color: $color-white;
    background: {
        color: $secondary-color;
    }
}

main section ul {
    padding: $size-0;
}

main section ul li {
    display: inline-block;
} */

//nesting css - selettori annidati

header {
    background-color: $accent-color;
    display: flex;
    align-items: center;
    padding-inline: $size-3;
    padding-block: $size-2;

    span{
        margin-right: auto;
    }
    nav{
        ul{
            
            margin: $size-0;

            li {
                display: inline-block;
            }
        }
    }
}

main {
    padding: $size-3;

    section{
        padding-inline: $size-3;
        padding-block: $size-5;
        color: $color-white;

        background-color: $secondary-color;

        //parent selector (&) - riprende il selettore del contesto in cui è inserito, tutti i selettori più esterni
        
        &:nth-of-type(2) {
            background-color: $color-bg-body;
            color: $color-white;
        }
        
        &:hover {
            background-color: $main-color;
        }

        // nested media queries
        @media  screen and (min-width: 768px) {
            padding-block: 4rem;
        }

        @media  screen and (min-width: 992px) {
            padding-block: 5rem;
        }


        ul{
            padding: $size-0;

            li{
                display: inline-block;

                &:hover {
                    font-size: 1.6rem;
                    background-color: $color-bg-body;
                }
            }
        }
    }
}

footer {
    section {
        ul {
            li{
                &::marker {
                    content: icon;
                }
            }
        }
    }
}